page-list {
  .title-data, .title-hora {
    padding: 1rem 1rem 0;   
  }

  .title-data {
    font-weight: 500;
    font-size: 15px; 
  }

  .label-md, .list-md {
    margin: 0;
  }
  
  ion-row {
    align-items: center;
      
    ion-list {
      text-align: center;

      ion-label {
        white-space: normal;
      }
        
      img {
        width: 8rem;
        height: 5rem;
        border: 1px solid #e0e0e0;
      }
    
      .time1, .time2 {
        justify-content: center;
      }
    }
  }
  
  .divider {
    border-bottom: 1px solid #e0e0e0;
    margin: 1rem 0;
  }
}
